/*
--breakpoint-xs: 0;
--breakpoint-sm: 32.5em;
--breakpoint-md: 56em;
--breakpoint-lg: 78em;
--breakpoint-xl: 100em;
*/

#search-panel__container {
  --search-border-color: #00000011;
  --search-shadow-separator-size: 12px;

  #search-panel__container-paint {
    border-radius: inherit;
    contain: paint;
    border: 1px solid var(--search-border-color, #eee);
    position: relative;
  }

  #search-panel__facets {
    background-color: inherit;
    z-index: 1000;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    min-width: calc(var(--base, 8px) * 30);

    .search-page__facet-group {
      position: relative;
      padding: calc(var(--base, 8px) * 3);
      z-index: 2000;
    }

    .search-page__facet-group + .search-page__facet-group {
      border-top: 1px solid var(--search-border-color, #eee);
    }
  }

  #search-panel__results {
    background-color: rgba($color: #000000, $alpha: 0.05);
    padding: calc(var(--base, 8px) * 3);
    position: relative;

    @media screen and (min-width: 56em) {
      &:before {
        content: "";
        width: var(--search-shadow-separator-size, 12px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg,rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

  }

  .search-page__facet-group-heading {
    margin-bottom: calc(var(--base, 8px) * 1.5);
  }

  .c-field__inner--search {
    border-color: var(--search-border-color, #eee);
    background: inherit;
    border-radius: inherit;
  }
}