/* Searchresult */

$bp: 900px;

.c-searchresult {
  margin-top: 8px * 2;

  &__item {
    border-bottom: 1px solid #fff;
    background: #fff;
    box-shadow: 0 0 8px*2 rgba(0,0,0,.1);
    padding: 8px*4;
    animation: newItemAnimation 1s;
    border-radius: 2px;
  }

  &__item + &__item {
    margin-top: 8px * 4;
  }

  &__grid {
    display: grid; 
    grid-template-columns: 1fr 100px;
    grid-column-gap: 8px * 8;
  }

  &__heading, 
  &__content, 
  &__metainfo {
    margin-top: 8px*2; 
  }

  &__heading {
    font-size: 1.9em;
    color: #000; 
    margin-top: -0.2em;
    text-transform: capitalize;

    em {
      background: rgba(#00ff00, .4);
    }
  }

  &__content {
    font-size: 1.1em;
    max-width: 700px;

    em {
      background: rgba(#00ff00, .4);
    }
  }

  &__origin {
    margin-top: -.8em;
    font-size: .5em;
    color: #999;
    font-weight: normal;
    display: block;
  }

  &__thumbnail {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 3px;
  }

  &__permalink {
    color: #999;
  }
}

/* Search input */
.c-searchform .c-searchform__input {
    font-size: 1.2em;
    padding: 8px*2; 
}

/* Search pagination */
.c-searchpagination {
  text-align: center;
  padding: 8px*4; 

  &__item {
    display: inline-block;
  }

  &__item a {
    display: block;
    padding: 8px;
  }
}

/* Searchmeta */
.c-searchmeta {
  display: flex;
  justify-content: space-between;
  margin-top: 8px*4;
  flex-wrap: wrap;
}

/* Searchresult counter */
.c-searchresusult__postcount {
  display: inline-block;
  color: #999;
  line-height: 34px;

  @media (max-width:$bp) {
    display: none;
  }
}

/* Searchtabs */
.c-searchtabs {
  display: flex; 
  line-height: 34px;

  @media (max-width:$bp) {
    width: 100%;
  }

  &--hidden {
    display: none;
  }
}

.c-searchtabs ul {
  list-style: none;
  padding: 0; 
}

.c-searchtabs__icon {
  display: inline-block;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMTAgMThoNHYtMmgtNHYyek0zIDZ2MmgxOFY2SDN6bTMgN2gxMnYtMkg2djJ6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
  height: 1em;
  width: 1em; 
  background-size: contain;
  background-position: center center;
}

.c-searchtabs__label {
  color: #999;
  padding-right: 10px;
  white-space: nowrap;

  @media (max-width:$bp) {
    display: none;
    padding-right: 0;
  }
}

.c-searchtabs__tab {
  display: inline-block; 
}

.c-searchtabs__tab + .c-searchtabs__tab {
  margin-left: 8px;
}

.c-searchtabs__link {
  display: block;
  background: #dedede; 
  border-radius: 30px;
  padding: 0 12px;
  position: relative;
}

.c-searchtabs_count:before { 
  content: " ("; 
}

.c-searchtabs_count:after { 
  content: ")"; 
}

/* New item animation */
@keyframes newItemAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hide all siblings in the container
 * The intention is to hide default 
 * search stuff.
 */
#algolia-instantsearch-react ~ * {
  display: none;
}