#search-panel__container {

  #search-panel__facets {
    background-color: inherit;
    z-index: 1000;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    min-width: calc(var(--base, 8px) * 30);

    .search-page__facet-group {
      padding: calc(var(--base, 8px) * 3);
    }

    .search-page__facet-group + .search-page__facet-group {
      border-top: 1px solid #eee;
    }
  }

  #search-panel__results {
    background-color: rgba($color: #000000, $alpha: 0.05);
    padding: calc(var(--base, 8px) * 3);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    position: relative;

    &:after {
      content: "";
      width: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      box-shadow: 0 0 12px #0000007f;
    }
  }

  .search-page__facet-group-heading {
    margin-bottom: calc(var(--base, 8px) * 1.5);
  }

  .c-field__inner--search {
    border-color: #eee;
    background: inherit;
    border-radius: inherit;
  }

  //Hide facets on small devices
  @media (max-width: 1024px) {
    #search-panel__facets {

    }
  }

}