/* General */
.ais-Hits-list {
  list-style: none;
  padding-left:0;

  a.c-card {
    display: flex;
    flex-direction: row;

    .c-card__image-background  {
      width: 160px;
      height: 100%;
    }
  }
}


/* Pagination */
.ais-Pagination {
  display: flex;
  justify-content: center;
}

.ais-Pagination-list {
  list-style: none;
  display: flex;
  padding-left:0;

  .ais-Pagination-item {
    padding-left:0;
    margin-top:var(--base, 8px);
    margin-bottom:16px;
    
  }
  }